@import url('./fonts.css');
@import url('./header.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #222f3e;
  --primary-color: #f1f2f6;
  --highlight-color: #2ed573;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

#root {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2rem;
}