@import url('./fonts.css');
@import url('./header.css');
@import url('./controls.css');
@import url('./lobbyForm.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #222f3e;
  --primary-color: #f1f2f6;
  --highlight-color: #2ed573;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container button {
  font-size: 1.2rem;
  font-weight: bold;
}

.whiteboard-canvas {
  background-color: #fff;
  outline: 1px solid black;
}

input {
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  padding: 12px;
  background-color: #2980b9;
  color: #fff;
}

button:hover {
  background-color: #3498db;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3.6rem;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4.2rem;
  }
}