@import url('./fonts.css');
@import url('./header.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #222f3e;
  --primary-color: #f1f2f6;
  --highlight-color: #2ed573;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3.2rem;
}

.whiteboard {
  background-color: #fff;
  outline: 1px solid black;
  width: 350px;
  height: 200px;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3.6rem;
  }

  .whiteboard {
    width: 612px;
    height: 350px;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4.2rem;
  }

  .whiteboard {
    width: 918px;
    height: 525px;
  }
}